
body {
  background: #c4dce1;
  text-align: center;
  color: #000000;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
body,html {
  height: 100%;

}
a, a:active, a:visited {
  color: #0066CC;
}

#container {
  background-image: url("img/cement.jpg");
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

p {
  font-size: 22px;
}

#centeredImage{
    position: absolute;
    height: 60%;
    width: 69%;
    margin: auto;
    top: 0; 
    bottom: 0; 
    left: 0;
    right: 0;
    text-align: center;

}

/*footer {
  border-top: 1px dotted #999999;
  clear: both;
  padding: 1em 0;
}

footer p {
  font-size: 0.75em;
  padding: 0;
  margin: 0;
}

header {
  background: #f0f0f0;
  border-bottom: 1px solid #999999;
  height: 60px;
  position: relative;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
  color: #000000;
  margin: 0;
}

h1 a, h1 a:visited,  h1 a:active {
  color: #333333;
}

header nav ul {
  float: right;
  margin: 0;
}

header nav > ul li {
  border-bottom: 3px solid white;
  height: 100%;
  float: left;
  font-weight: 300;
  list-style-type: none;
  margin-right: 2rem;
  transition: border-color 200ms ease-in-out;
}

header nav > ul li:hover, header nav > ul li.active {
  border-bottom-color: #0066CC;
}

header nav > ul li:hover a, header nav > ul li.active a {
  color: #0066CC;
}

header nav a, header nav a:visited {
  display: block;
  line-height: 60px;
  text-decoration: none;
  color: #333;
  transition: color 200ms ease-in-out;
}*/

